Debug/
Release/
sublime/
doxygen/html
doxygen/latex
doxygen/output.txt 
.settings/
.tracecompass/
.cproject
.project
*.vtu
*.pvd
*.wmv
*.mp4
*.ods
*.pvsm
*.o
*.exe
*.ogv
.vs
.vscode
*.sublime-workspace
*.code-workspace
*.sublime-project
MPM-Geomechanics
/make/VS/MPM-Geomechanics.vcxproj.user
