Debug/
Release/
sublime/
doxygen/html
doxygen/docs
doxygen/latex
doxygen/output.txt 
.settings/
.tracecompass/
.cproject
.project
*.vtu
*.pvd
*.wmv
*.mp4
*.ods
*.pvsm
*.o
*.exe
*.ogv
.vs
.vscode
*.sublime-workspace
*.code-workspace
*.sublime-project
MPM-Geomechanics
/make/VS/MPM-Geomechanics.vcxproj.user
time-energy.csv
simulation-data.csv
particle_stress_data.json
/external/*
/build/testing/build/*
!.gitkeep
/build/CMake/*
!CMakeLists.txt
!cmake-compilation-manual.md
!cmake-build-linux.bash
!cmake-build-win.bat