Debug/
Release/
sublime/
doxygen/html
doxygen/latex
doxygen/output.txt 
.settings/
.tracecompass/
.cproject
.project
*.vtu
*.pvd
*.wmv
*.mp4
*.ods
*.pvsm
*.o
*.exe
.vs
.vscode
*.sublime-workspace
*.code-workspace
MPM-Geomechanics