body,
p,
table,
div,
dl {
  font-family: Arial, sans-serif !important;
  line-height: 1.6;
  background-color: #ffffff;
  color: #333;
}

a {
  font-family: Arial, sans-serif !important;
}

.children_ul {
  padding-left: 18px !important;
}

.contents {
  padding: 0px 2px;
}

.arrow {
  display: inline-block;
  width: 16px !important;
  height: 16px;
  box-sizing: content-box;
  padding-left: 0 !important;
  text-decoration: none;
  color: #afafaf !important;
}

.item {
  margin: 5px !important;
  background-color: transparent !important;
}

.label a {
  color: #04243f !important;
  font-size: 14px !important;
  transition-duration: 0.2s !important;
}

.label a:hover {
  color: #2196f3 !important;
  padding-left: 5px !important;
}

.selected {
  background-image: none !important;
  text-shadow: none !important;
}

.selected a {
  font-weight: 600 !important;
}

.note {
  background-color: #e7f3fe !important;
  border-left: 6px solid #2196f3 !important;
  padding: 10px !important;
  margin: 10px 0 !important;
}

.note dt{
  color: #0b5394 !important;
  font-weight: 600 !important;
}

.fragment {
  background-color: #f9f9f9 !important;
  border: 1px solid #ddd !important;
  padding: 10px !important;
  margin: 5px 0 !important;
  border-radius: 5px !important;
}

.fragment .clipboard {
  display: flex;
  justify-content: flex-end;
}

.line{
  font-family: "Courier New", Courier, monospace !important;
  background-color: transparent !important;
}

code {
  font-family: "Courier New", Courier, monospace;
  background-color: #f4f4f4;
  padding: 0px 4px;
  border-radius: 4px;
  font-size: 90%;
  color: #c7254e;
  border: 1px solid #e1e1e8;
}

tbody {
  font-size: 14px !important;
  color: #555 !important;
  border: 1px solid #ddd !important;
  border-radius: 5px !important;
  background-color: #f9f9f9 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  margin-bottom: 10px !important;
  padding: 10px !important;
  width: 100% !important;
  box-sizing: border-box !important;
  display: block !important;
}

th {
  color: #333 !important;
  font-weight: 600 !important;
  padding: 10px 7px !important;
  text-align: left !important;
  background-color: #e9e9ee !important;
  border: none !important;
}

th:first-child {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

th:last-child {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

td {
  border: none !important;
}

hr {
  border: none !important;
  border-top: 1px solid #eee !important;
  margin: 20px 0 !important;
}

#titlearea tbody{
  display: flex !important;
  justify-content: center !important;
}

#titlearea table{
  display: flex !important;
  justify-content: center !important;
}

#titlearea tbody tr{
  height: auto !important;
}

#titlearea #projectname, #projectbrief{
  background-color: transparent !important;
}

#nav-tree-contents{
  background-color: transparent !important;
}