name: CI

on:
  push:
    branches:
      - old_version_reference
  pull_request:
    branches:
      - old_version_reference

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y build-essential cmake

    - name: Build with CMake
      run: cmake -G "Unix Makefiles" -S build/CMake -B build/CMake && cmake --build build/CMake

    - name: Build with Makefile
      run: make -C build/make -f makefile

    - name: Upload compiled binaries
      uses: actions/upload-artifact@v4
      with:
        name: compiled-binaries
        path: |
          **/*
          **/*